@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Classroom Database</h1>
    <p>Learn about our students <a asp-controller="Students" asp-action="ViewStudents">here</a>.</p>
</div>
